.Game {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 30px;
  min-height: 100vh;
}
.game-score-section {
  display: flex;
  justify-content: flex-start;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
}
.game-score-section h1 {
  margin-left: 50px;
}
.game-main-section {
  height: 159.5px;
  width: 160px;
  min-width: 160px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  background: #555555;
  padding: 5px;
  border-radius: 5px;
}
.game-square {
  height: 30px;
  width: 30px;
  background-color: #e4e4e4;
  border: 1px solid black;
  color: rgb(87, 87, 209);
}
.game-upgrades-section {
  display: flex;
  width: 70%;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
.game-upgrades {
  width: 220px;
  height: 150px;
  background: white;
  box-shadow: 0px 0px 3px #555555;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  border: 1px solid black;
  margin: 5px;
  user-select: none;
  cursor: pointer;
}
.game-upgrades h1 {
  font-size: 18px;
}
.game-upgrades div {
  display: flex;
  flex-direction: column;
}
.game-upgrades h2 {
  font-size: 16px;
}
.game-upgrades p {
  font-size: 14px;
}
.game-buttons-section {
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}
.game-button {
  height: 20px;
  width: 80px;
  display: flex;
  justify-content: center;
  padding: 5px;
  border-radius: 5px;
  border: 4px solid #555555;
  background: #e4e4e4;
  user-select: none;
  cursor: pointer;
} 
